@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyTripProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyTripProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script>
      $(function () {
        $("#slider1").responsiveSlides({
          auto: true,
          nav: true,
          speed: 500,
          namespace: "callbacks",
        });
      });
    </script>
  </head>
  <body>
   
    <div class="header">
      <div class="wrap">
        <div class="logo">
          <a href="index.html"><img src="~/web/images/logo.png" alt="" /></a>
        </div>
        <div class="con-right">
          <div class="grid1-l-img">
            <img src="~/web/images/contact.png" alt="" />
          </div>
          <div class="grid1-l-desc">
            <p>Contact : +91 00000-55555</p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="wrap">
        <ul id="nav">
          <li><a  asp-controller="Home" asp-action="Index">Home</a></li>
          <li><a class="hsubs" href="/About/">About</a></li>
          <li>
            <a class="hsubs" href="/FreeTravelGuide" >Destinations</a>
            <ul class="subs">
              <li><a href="#">Hotels</a></li>
              <li><a href="#">Restaurants</a></li>
              <li><a href="#">Beach Resorts</a></li>
            </ul>
          </li>
          <li>
            <a class="hsubs"  asp-controller="FreeTravelGuide" asp-action="Index">Free Travel Guides</a>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="content clearfix">
      @RenderBody()
    </div>

    @* Render "Scripts" section eğer sayfada tanımlıysa *@
    @RenderSection("Scripts", required: false)

    <div class="footer-bottom">
      <div class="wrap">
        <div class="copy">
          <p>
            &copy; 2013 Easy-Trip. All Rights Reserved | Design by
            <a href="http://w3layouts.com">W3Layouts</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
